<!DOCTYPE html>
<html>
  <header>
    <title> REST </title>
  </header>

  <body>
    <h1> Current Weather in {{timezone}}</h1>

    {% set msgs = get_flashed_messages() %}

    {% for each in msgs %}

    <p style="color:red;">{{each}} <br><br> </p>

    {% endfor %}

    <p>
      Current Conditions: {{summary}} <img src={{icon}}><br>
      Precipitation: {{precipProb}}<br>
      Temperature: {{temp}}
    </p>
    <br>
    <br>
    <a href = "https://darksky.net/poweredby/">Powered by Dark Sky</a>
  </body>
</html>
