<!--
BATTery
Thomas Lee (PM)
Britni Canale
Ahnaf Kazi
Tim Marder
p06
-->


{% extends "home.html" %}

<!-- The 0 needs to be replaced with an appropriate variable for each article -->
{% block title %} {{article[0]}} {% endblock %}


{% block body %}

<div class = "row">

  <div class = "col-sm-12 col-md-9 col-lg-10">

        <!-- here as well -->
    <h1> {{article[0]}} </h1>
    <br><br>

    <h5> <img src = {{article[3]}} style="width:90%"> </h5>

    <br>

    <p>{{article[2][:-13]}}<a href = {{article[4]}} target = "_blank">[See More]</a></p>

    <br><br>


  </div>

</div>

{% endblock %}
