<!DOCTYPE>

  <html>

    <head>

      <title> {% block title%} {%endblock%}</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>

    <body>

      <div class = "container" style = "text-align:center">

        <br><h1 class = "fixed-top" style = "background-color:lightgray"> Intro to Bootstrap </h1><br><br>

        <nav id = "navbar"  style="background-color:gray; position:relative; top:0;">

        <ul class="nav flex-md-column sticky-top" style = "top:50">

          <li class="nav-item">
            <a class="nav-link" href="#ThisSite">This Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Buttons">Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Badges">Badges</a>
          </li>
    <li class="nav-item">
            <a class="nav-link" href="#Forms">Forms</a>
          </li>
    <li class="nav-item">
            <a class="nav-link" href="#Jumbotrons">Jumbotrons</a>
          </li>
    <li class="nav-item">
            <a class="nav-link" href="#Pagination">Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://getbootstrap.com/docs/4.1/">Bootstrap Documentation</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
