{% extends "base.html" %}

{% block title%} Home {%endblock%}



{%block header%}

<ul class="nav sticky-top" style = "top:50">

  <h2> {{title}} </h2>

  <li class="nav-item">
    <a class="nav-link" href="/mystuff">My Articles</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/popularposts">Popular Posts</a>
  </li>

</ul>

<form action = "/logout" method = "GET">

  <button type="button" class="btn btn-outline-dark" type = "submit" href="/logout"> Logout </button>

</form>

{%endblock%}



{%block alerts%}

{% set msgs = get_flashed_messages() %}

{% for each in msgs %}

<div class="alert alert-success" role="alert">{{each}} </div>

{% endfor %}

{%endblock%}



{%block body%}

<div class = "row">

  <div class = "col-sm-12 col-md-9 col-lg-10">

    {% for article in articles%}

    <h5>{{article}} </h5><br><br>

    {%endfor%}

  </div>

  <div class = "col" style = "background-color:gray">

    <b> Word of the Day:</b>

    {{word}} - {{definition}}

    <br><br>

    <b> Your Local Weather </b>

    {{weather}}

  </div>

</div>

{%endblock%}
