{% extends "base.html" %}

{% block title%} Home {%endblock%}



{%block header%}

<ul class="nav sticky-top" style = "top:50">

  <a  style = "color:black" href = "/home"><h2>The Daily Devo</h2></a>

  {%if myart%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black"  href="/mystuff"><b>My Articles</b></a>
  </li>

  {%else%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black"  href="/mystuff">My Articles</a>
  </li>

  {%endif%}


  {%if popposts%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black" href="/popularposts"><b>Popular Posts</b></a>
  </li>

  {%else%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black"  href="/popularposts">Popular Posts</a>
  </li>

  {%endif%}


  {%if pref%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black" href="/preferences"><b>Preferences</b></a>
  </li>

  {%else%}

  <li class="nav-item">
    <a class="nav-link" style = "color:black"  href="/preferences">Preferences</a>
  </li>

  {%endif%}

</ul>

<a class="btn btn-secondary" role = "button" href="/logout"> Logout </a>

{%endblock%}



{%block alerts%}

{% set msgs = get_flashed_messages() %}

{% for each in msgs %}

<div class="alert alert-success" role="alert">{{each}} </div>

{% endfor %}

{%endblock%}



{%block body%}

<div class = "row">

  <div class = "col-sm-12 col-md-9 col-lg-10">

    <h1> Articles </h1>
    <br><br>

    {% for article in articles%}
<div class = "row">
<div class = "col-sm-12 col-md-4 col-lg-3">
  <img src = {{articles[article][3]}} style = "height:100">
</div>
<div class = "col-sm-12 col-md-8 col-lg-9">
    <h5>{{articles[article][5]}}. {{articles[article][0]}}</h5>

    <p>{{articles[article][1]}}</p><br><br>

</div>
</div>
    {%endfor%}

  </div>

  <div class = "col" style = "background-color:#5299D3">

    <b> Word of the Day:</b>

    {{word}} - {{definition}}

    <br><br>

    <b> Your Local Weather </b>

    {{weather}}

    <br>

    <b> Current Temperature </b>
    {{temperature}}

  </div>

</div>

{%endblock%}
