{% extends "base.html" %}

{% block title%} Home {%endblock%}

{%block header%}

<ul class="nav sticky-top" style = "top:50">

  <h2> {{title}} </h2>

  <li class="nav-item">
    <a class="nav-link" href="#STUFF">This Site</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#More STUFF">Buttons</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#ADDITIONALLL STUD+FF">Badges</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#EVEN MORE STUFF">Forms</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#AHHHHHHH">Jumbotrons</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#doge">Pagination</a>
  </li>

</ul>

<!--
    <button type = "button"> Logout </button>
-->
    <a href = "/logout"> Logout </a>



{%endblock%}
