{%extends "base.html"%}

{%block title%} Login {%endblock%}

{%block header%} <h2> BATTery </h2> {%endblock%}

{%block body%}

<form action = "/login" method = "POST">

  <div class="form-group">

    <label for="exampleInputUsername">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputUsername" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}
