{% extends "home.html" %}



{% block title%} {{ title }} {%endblock%}


{% block body %}
<div class = "row">

  <div class = "col-sm-12 col-md-9 col-lg-10">

    <h1> Articles </h1>

    <br><br>

    {% for article in articles%}

<div class = "row">

<div class = "col-sm-12 col-md-4 col-lg-3">

  <img src = {{articles[article][3]}} style = "height:100">

</div>

<div class = "col-sm-12 col-md-8 col-lg-9">

    <h5>{{articles[article][5]}}. {{articles[article][0]}}</h5>

    <p>
        {{articles[article][1]}}
        Click <a href = "/article">here</a> for the article.
    </p>

    <br><br>

</div>

</div>

    {%endfor%}

  </div>
  </div>

{% endblock %}
<!--
{%block body%}

{% for article in poparticles %}

<h4>{{article}} </h4><br><br>

{% endfor %}

{%endblock%}
-->
