{%extends "home.html"%}

{%block title%} User Preferences {%endblock%}

{%block body%}

<h3> User Preferences </h3><br><br>

<form action = "/updatepref" method = "POST">

  <h4> Preferred News Sources </h4>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="abc-news" value="abc-news" name = "sources">
    <label class="form-check-label" for="abc-news">ABC News</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="ars-technica" value="ars-technica" name = "sources">
    <label class="form-check-label" for="ars-technica">Ars Technica</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="bbc-news" value="bbc-news" name = "sources">
    <label class="form-check-label" for="bbc-news">BBC News</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="business-insider" value="business-insider" name = "sources">
    <label class="form-check-label" for="business-insider">Business Insider</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="buzzfeed" value="buzzfeed" name = "sources">
    <label class="form-check-label" for="buzzfeed">Buzzfeed</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="cbs-news" value="cbs-news" name = "sources">
    <label class="form-check-label" for="cbs-news">CBS News</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="el-mundo" value="el-mundo" name = "sources">
    <label class="form-check-label" for="el-mundo">El Mundo</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="national-geographic" value="national-geographic" name = "sources">
    <label class="form-check-label" for="national-geographic">National Geographic</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="the-new-york-times" value="the-new-york-times" name = "sources">
    <label class="form-check-label" for="the-new-york-times">New York Times</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="the-wall-street-journal" value="the-wall-street-journal" name = "sources">
    <label class="form-check-label" for="the-wall-street-journal">Wall Street Journal</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="the-washington-post" value="the-washington-post" name = "sources">
    <label class="form-check-label" for="the-washington-post">National Geographic</label>
  </div><br><br><br>






  <h4>Daily Preferences</h4>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="Word" value="Word" name = "dailies">
    <label class="form-check-label" for="Word">Word of the Day</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="Weather" value="Weather" name = "dailies">
    <label class="form-check-label" for="Word">Weather</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="Date" value="Date" name = "dailies">
    <label class="form-check-label" for="Word">Date Fact</label>
  </div>

  <button class = "btn btn-primary" type = "submit"> Update Preferences </button>

</form>

{%endblock%}
